In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Save path to data set in a variable
data_file = "Resources/playerstats_Jan24.csv"

In [3]:
# Use Pandas to read data
data_file_pd = pd.read_csv(data_file)
data_file_pd.head()

,Ranked This Week,Ranked Last Week,Player Name,Events,Average Points,Total Points,Points Lost,Points Gained,Unnamed: 8
0,1,1.0,Brooks Koepka,41,9.88,405.16,-24.36,1.91,NaN
1,2,2.0,Rory McIlroy,49,9.09,445.21,-22.31,0.00,NaN
2,3,3.0,Jon Rahm,48,8.02,384.89,-18.29,6.72,NaN
3,4,4.0,Justin Thomas,47,7.70,361.77,-18.90,48.00,NaN
4,5,5.0,Dustin Johnson,41,6.80,278.70,-19.92,7.84,NaN

In [4]:
# Display a statistical overview of the DataFrame
data_file_pd.describe()

,Ranked This Week,Ranked Last Week,Events,Average Points,Total Points,Points Lost,Points Gained,Unnamed: 8
count,998.000000,994.000000,998.000000,998.000000,998.000000,990.000000,998.000000,0.0
mean,499.421844,497.433602,45.399800,0.661673,31.424930,-1.714101,1.496794,NaN
std,288.174828,287.048701,5.021267,0.992817,47.664691,2.669499,4.647075,NaN
min,1.000000,1.000000,40.000000,0.110000,4.430000,-24.360000,0.000000,NaN
25%,250.250000,249.250000,40.000000,0.180000,7.700000,-1.777500,0.000000,NaN
50%,499.500000,497.500000,45.000000,0.320000,14.575000,-0.820000,0.000000,NaN
75%,748.750000,745.750000,51.000000,0.680000,33.667500,-0.430000,1.200000,NaN
max,998.000000,997.000000,52.000000,9.880000,445.210000,-0.030000,50.000000,NaN

In [5]:
# Reference the Total Points Column
data_file_pd["Total Points"].head()

0    405.16
1    445.21
2    384.89
3    361.77
4    278.70
Name: Total Points, dtype: float64

In [6]:
# Reference multiple columns within a DataFrame
data_file_pd[["Player Name", "Total Points"]].head()

      Player Name  Total Points
0   Brooks Koepka        405.16
1    Rory McIlroy        445.21
2        Jon Rahm        384.89
3   Justin Thomas        361.77
4  Dustin Johnson        278.70

In [7]:
# Add up total points across all players to date
data_file_pd['Total Points'].sum()

31362.08

In [8]:
# Finding the mode total amount of points for players
data_file_pd['Total Points'].value_counts().head()

4.95     4
6.08     4
6.55     4
7.33     3
14.21    3
Name: Total Points, dtype: int64