In [1]:
# Dependencies
import pandas as pd

In [4]:
# Save path to data set in a variable
data_file = "Resources/datagolf_rankings.csv"

In [5]:
# Use Pandas to read data
data_file_pd = pd.read_csv(data_file)
data_file_pd.head()

         player_name  dg_index  dg_rank dg_last_week owgr_rank owgr_last_week
0      McIlroy, Rory       NaN        1            1         2              2
1          Rahm, Jon       NaN        2            2         3              3
2     Thomas, Justin       NaN        3            3         4              4
3      Simpson, Webb       NaN        4            4        11             11
4  Matsuyama, Hideki       NaN        5            5        23             21

In [6]:
# Display a statistical overview of the DataFrame
data_file_pd.describe()

       dg_index     dg_rank
count       0.0  100.000000
mean        NaN   50.500000
std         NaN   29.011492
min         NaN    1.000000
25%         NaN   25.750000
50%         NaN   50.500000
75%         NaN   75.250000
max         NaN  100.000000

In [8]:
# Reference the Players Column
data_file_pd["player_name"].head()

0        McIlroy, Rory
1            Rahm, Jon
2       Thomas, Justin
3        Simpson, Webb
4    Matsuyama, Hideki
Name: player_name, dtype: object

In [9]:
# Reference multiple columns within a DataFrame
data_file_pd[["player_name", "dg_rank"]].head()

         player_name  dg_rank
0      McIlroy, Rory        1
1          Rahm, Jon        2
2     Thomas, Justin        3
3      Simpson, Webb        4
4  Matsuyama, Hideki        5